.container {
  margin: 10px 10px 10px 10px;
}

.ptop {
  padding-top: 20px;
}

.main {
  height: calc(100% - 65px);
}

mat-drawer-container {
  height: 100%;
}

.sidenav {
  padding: 20px;
  width: 300px;
}
