<mat-toolbar color="primary">
  Charter
</mat-toolbar>

<section class="main">

  <mat-drawer-container>
    <mat-drawer class="sidenav"
                opened
                mode="side">

      <form [formGroup]="filterFormGroup" *ngIf="loaded">

        <mat-form-field>
          <mat-select placeholder="Chart Type"
                      formControlName="currentChartType"
                      (selectionChange)="chartTypeChange($event)"
          >
            <mat-option *ngFor="let type of supportedChartTypes"
                        [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="threshold"
                 placeholder="Threshold"
                 type="number"
                 [step]="thresholdInputStep"
                 min="0"
          >
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="numDataPoints"
                 placeholder="# Data Points"
                 type="number"
                 step="1"
                 min="1"
          >
          <mat-hint *ngIf="!error">
            Max: {{CHARTS[filterFormGroup.controls.currentChartType.value]?.labels?.length}}
          </mat-hint>
        </mat-form-field>
      </form>

    </mat-drawer>

    <mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>

    <section class="sidenav-content">
      <div class="container">

        <mat-card *ngIf="!error">
          <mat-card-title>{{filterFormGroup.controls.currentChartType.value}}</mat-card-title>
          <mat-card-content class="ptop">
            <canvas id="canvas" height="450px"></canvas>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="loaded && error">
          <mat-card-title>OOPS.. Something went wrong.</mat-card-title>
          <mat-card-content>
            {{error}}
          </mat-card-content>
        </mat-card>
      </div>
    </section>

  </mat-drawer-container>

</section>
